# Import Dataset and Libraries

In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('Dataset.csv')

In [3]:
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
0,WFS000054,Active,NaN,NaN,NaN,NaN,NaN,"SiWgh, PraGhjEM",54,NaN,NaN
1,WFS000065,Active,09/12/2023 10:08 AM,09/12/2023 01:53 PM,3:45,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
2,WFS000065,Active,09/12/2023 02:23 PM,09/12/2023 07:02 PM,4:39,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
3,WFS000065,Active,09/13/2023 10:08 AM,09/13/2023 02:20 PM,4:12,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
4,WFS000065,Active,09/13/2023 02:50 PM,09/13/2023 08:44 PM,5:54,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN

# Performing Some Operations on Dataset

In [4]:
# Convert 'Time' and 'Time Out' columns to datetime objects
df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])

In [5]:
# a) Employees who have worked for 7 consecutive days
consecutive_days_threshold = 7
consecutive_days = df.groupby('Employee Name')['Time'].diff().dt.days.eq(1).groupby(df['Employee Name']).cumsum() + 1
consecutive_days_exceeded = consecutive_days >= consecutive_days_threshold
employees_7_consecutive_days = df.loc[consecutive_days_exceeded, ['Employee Name', 'Position ID']].drop_duplicates()

In [11]:
print("Employees who have worked for 7 consecutive days:")
print(employees_7_consecutive_days)

Employees who have worked for 7 consecutive days:
    Employee Name Position ID
650  XiWW, JAsMiW   WFS000462

In [7]:
# b) Employees with less than 10 hours between shifts but greater than 1 hour
min_hours_between_shifts = 1
max_hours_between_shifts = 10
time_between_shifts = df['Time'] - df.groupby('Employee Name')['Time Out'].shift()
time_between_shifts_exceeded = (time_between_shifts >= timedelta(hours=min_hours_between_shifts)) & (time_between_shifts <= timedelta(hours=max_hours_between_shifts))
employees_between_shifts = df.loc[time_between_shifts_exceeded, ['Employee Name', 'Position ID']].drop_duplicates()

In [12]:
print("\nEmployees with less than 10 hours between shifts but greater than 1 hour:")
print(employees_between_shifts)

Employees with less than 10 hours between shifts but greater than 1 hour:
                        Employee Name Position ID
54                   CaMaXaWE, CeghaW   WFS000153
163                        Xee, XaCar   WFS000200
277              De Xa Cerda, IgWaciE   WFS000318
302                  MraW, WiXXiaC Ha   WFS000345
592                  CEreira Jr, JEse   WFS000456
709              GAeWdia, JAaW CarXEs   WFS000473
940              GrACfieXd, CErWeXiAs   WFS000515
1037  DeXgadiXXE REdarMe, ChrisMiaW S   WFS000523
1075           HaCiXMEW, DeaWMe DevEW   WFS000536
1162         REdrigAez, GraWdEW AWgeX   WFS000550

In [9]:
# c) Employees who have worked for more than 14 hours in a single shift
max_hours_single_shift = 14
excessive_hours_single_shift = df['Time Out'] - df['Time'] > timedelta(hours=max_hours_single_shift)
employees_excessive_hours = df.loc[excessive_hours_single_shift, ['Employee Name', 'Position ID']].drop_duplicates()

In [13]:
print("\nEmployees who have worked for more than 14 hours in a single shift:")
print(employees_excessive_hours)

Employees who have worked for more than 14 hours in a single shift:
                        Employee Name Position ID
1036  DeXgadiXXE REdarMe, ChrisMiaW S   WFS000523